<br>
<div class="col-lg-3">

    <button class="btn btn-block btn-success" data-toggle="modal" data-target="#myModal">Agregar Imagen</button>

</div>

<br>

<div class="col-lg-12">
        <div class="row">

                <ng-container>
            
                        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of fotos">
            
                                <div class="card" style="width: 18rem;">
                                    <img [src]="item.urlImage" class="card-img-top" width="300px;" height="300px;">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">{{item.name}}</h5>
                                        
                                    </div>
                                </div>
            
                                <br>
            
                        </div>
                        
            
                </ng-container>
            
            
            </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Agregar Imagen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                
                    <form
                        #forma="ngForm" (ngSubmit)="enviarPost(forma)" >
                            <div class="form-group">
                              <label for="exampleInputEmail1">Nombre de la Imagen</label>
                              <input 
                                type="text" 
                                class="form-control"
                                name = "nombre"
                                [ngModel]  
                                placeholder="Nombre de la imagen"/>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Url de Imagen</label>
                              <input 
                                type="text" 
                                class="form-control"
                                name="urlImage"
                                [ngModel]  
                                placeholder="Url de Imagen"/>
                                  
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Guardar</button>
                          </form>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



